@import url("normalized.css");

/* Fonts */

@font-face {
	font-family: 'Bold';
	src: url('fonts/Lato-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Italic';
	src: url('fonts/Lato-Italic.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Regular';
	src: url('fonts/Lato-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

body, html {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

body {
  font: 16px 'Regular', 'Myriad Pro', sans-serif;
	color: #3c444b;
  background-color: #3c444b;
}

#wrapper {
  height: 100%;
  width: 100%;
}

header, footer {
  height: 6.25em;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.search-bar {
  display: flex;
  margin: 0 auto;
  width: 65%;
  height: 2.8em;
  background: #fff;
  border-radius: .5em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
  overflow: hidden;
  justify-content: center;
  position: relative;
}

.search-bar::before {
  content: '\f002';
  font: 1em 'FontAwesome', 'Myriad Pro', sans-serif;
  margin: .9em 0 0 .3em;
  position: absolute;
  left: 0;
}

.search-bar form, .search-bar input {
  height: 2.3em;
  border: 0;
  border-radius: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 1em;
}

.search-bar form {
  width: 100%;
  text-align: center;
}

.search-bar input {
  width: 90%;
  margin: .3em 0 .2em;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.content {
  width: 100%;
  height: calc(100vh - 12.5em);
  overflow: hidden;
}

.content .slider {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 12.5em);
  overflow: hidden;
  transition: 0.5s;
}

.slider > div {
  margin: 0 1em;
  padding: 0 .25em;
  height: 100%;
  width: 280px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

@keyframes distance-to-left {
  0%{
      transform: translateX(0px);
      }
  50%{
      transform: translateX(-4999px);
      }
  51%{
      transform: translateX(4999px);
      }
  100%{
      transform: translateX(0px);
      }
}

@keyframes distance-to-right {
  0%{
      transform: translateX(0px);
      }
  50%{
      transform: translateX(4999px);
      }
  51%{
      transform: translateX(-4999px);
      }
  100%{
      transform: translateX(0px);
      }
}

.moving-left {
  animation: distance-to-left 1s;
}

.moving-right {
  animation: distance-to-right 1s;
}

.slider > div::before {
  content: '';
    display: block;
    height: 2em;
    position: relative;
    top: calc(100vh - 230px);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%);
}

.slider > div > img {
  width: inherit;
  margin: -1em 0 1em;
  border-radius: 5px;
}

.slider > div > a {
  font: 1.25em 'Bold', 'Myriad Pro', sans-serif;
  line-height: 1.5em;
  text-decoration: none;
  display: block;
  position: absolute;
  top: 3em;
  background: #000;
  color: #fff;
  opacity: 0.8;
  width: calc(100% + 0.25em);
  margin-left: -0.25em;
  padding: 0.45em 0;
  transition: 300ms ease-out;
  max-height: 4.4em;
  overflow: hidden;
}

.slider > div > a:hover {
  background: #fff;
  color: #000;
}

.slider > div > ul li {
  font: 1em 'Bold', 'Myriad Pro', sans-serif;
  line-height: 1.5em;
  padding: 0.35em 0;
}

.slider > div > ul li:first-of-type {
  max-height: 2.5em;
  overflow: hidden;
}

.slider > div > ul li:nth-of-type(1)::before {
  content: '\f007';
}

.slider > div > ul li:nth-of-type(2)::before {
  content: '\f073';
}

.slider > div > ul li:nth-of-type(3)::before {
  content: '\f06e';
}

.slider > div > ul li:nth-of-type(1)::before,
.slider > div > ul li:nth-of-type(2)::before,
.slider > div > ul li:nth-of-type(3)::before {
  font: 1em 'FontAwesome', 'Myriad Pro', sans-serif;
  position: absolute;
  left: 0;
  margin: .6em 0 0 .5em;
  font-size: .8em;
  color: #000;
}

.slider > div > p {
  font: 1em 'Italic', 'Myriad Pro', sans-serif;
  line-height: 1.5em;
  padding: 0.55em 0; 
}

.points > a {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin: 0 .5em;
  text-align: center;
  padding-top: .25em;
  box-sizing: border-box;
  text-decoration: none;
  font: 1em 'Bold', 'Myriad Pro', sans-serif;
  color: #fff;
  border: 2px solid #fff;
  background: #fff;
  transition: background 300ms ease-out;
  cursor: pointer;
}

.points > a:hover,
.points > a.active {
  background: #c40404;
}

.hidden {
  display: none !important;
}




/* Mobile phones only */ 

@media only screen and (max-device-width: 720px) {
  .search-bar > input {
    width: 80%;
  }

  .points > a {
    margin: 0 .25em;
    font: 0.6em 'Bold', 'Myriad Pro', sans-serif;
  }

  .search-bar input {
    padding: 0 .8em;
  }

  .points > a.active {
    color: #fff;
  }
}


