/* Animation changeMonster */
@-webkit-keyframes changeMonster {
  from { background-position: 0px -256px; }
  to { background-position: -512px -256px; }
}

@-moz-keyframes changeMonster {
  from { background-position: 0px -256px; }
  to { background-position: -512px -256px; }
}

@-o-keyframes changeMonster {
  from { background-position: 0px -256px; }
  to { background-position: -512px -256px; }
}

@keyframes changeMonster {
  from { background-position: 0px -256px; }
  to { background-position: -512px -256px; }
}

/* Next Monster */
@-webkit-keyframes changeMonsterNext {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}

@-moz-keyframes changeMonsterNext {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}

@-o-keyframes changeMonsterNext {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}

@keyframes changeMonsterNext {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}

/* Animation changePlayer */
@-webkit-keyframes changePlayer {
  from { background-position: 0px 0px; margin: 50px auto; }
  to { background-position: 1024px 0px; margin: -50px auto; }
}

@-moz-keyframes changePlayer {
  from { background-position: 0px 0px; margin: 50px auto; }
  to { background-position: 1024px 0px; margin: -50px auto; }
}

@-o-keyframes changePlayer {
  from { background-position: 0px 0px; margin: 50px auto; }
  to { background-position: 1024px 0px; margin: -50px auto; }
}

@keyframes changePlayer {
  from { background-position: 0px 0px; margin: 50px auto; }
  to { background-position: 1024px 0px; margin: -50px auto; }
}


/* Animation leavesButton */
@keyframes leaves {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
  100% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
}

.model-monster-one,
.model-monster-two,
.model-monster-tree {
  width: 256px;
  height: 256px;
  background-image: url('/src/assets/images/monster.png');
}

.model-monster-one {
  margin: 0 0 -90px 0;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-animation: changeMonster 0.5s steps(2) infinite;
  -moz-animation: changeMonster 0.5s steps(2) infinite;
  -o-animation: changeMonster 0.5s steps(2) infinite;
  animation: changeMonster 0.5s steps(2) infinite;
}

.model-monster-two {
  margin: 0 0 140px 0;
  z-index: -1;
  -webkit-animation: changeMonsterNext 0.5s steps(2) infinite;
  -moz-animation: changeMonsterNext 0.5s steps(2) infinite;
  -o-animation: changeMonsterNext 0.5s steps(2) infinite;
  animation: changeMonsterNext 0.5s steps(2) infinite;
}

.model-player {
  width: 256px;
  height: 256px;
  background-image: url('/src/assets/images/player.png');
  margin: -20px auto;
  -webkit-animation: changePlayer 0.6s steps(4) infinite;
  -moz-animation: changePlayer 0.6s steps(4) infinite;
  -o-animation: changePlayer 0.6s steps(4) infinite;
  animation: changePlayer 0.6s steps(4) infinite;
}

.home-scene {
  display: flex;
  flex-flow: row nowrap;
  background-image: url('/src/assets/images/vectorcity.png');
  width: 1024px;
  height: 512px;
  align-items: flex-end;
  border-bottom: 0.5em solid #000;
}

.home-scene-button {
  position: absolute;
  top: 30%;
  left: 50%;
  cursor: pointer;
  animation: leaves 1s ease-in-out infinite alternate;
  -webkit-animation: leaves 1s ease-in-out infinite alternate;
}
