.task-body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  font-size: 1.5rem;
}

.task-body > div {
  margin: 10px;
}

.vocabulary-img {
  position: absolute;
  right: 1.5rem;
  top: -1rem;
  width: 80px;
  height: 80px;
  background-image: url('./vocabulary-img-task.png');
}

