/* model-player_run */
@-webkit-keyframes player_run {
  from { background-position: 0px -256px; }
  to { background-position:  -1024px -256px; }
}
@-moz-keyframes player_run {
  from { background-position: 0px -256px; }
  to { background-position: -1024px -256px; }
}
@-o-keyframes player_run {
  from { background-position: 0px -256px; }
  to { background-position: -1024px -256px; }
}
@keyframes player_run {
  from { background-position: 0px -256px; }
  to { background-position: -1024px -256px; }
}

.model-player_run {
  background: url('../../images/player.png') 0 -256px;
  -webkit-animation: player_run 0.7s steps(4) infinite;
  -moz-animation: player_run 0.7s steps(4) infinite;
  -o-animation: player_run 0.7s steps(4) infinite;
  animation: player_run 0.7s steps(4) infinite;
}

/* home-scene_flex */
.home-scene_flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

/* home-scene_move */
@-webkit-keyframes scene_move {
  0% { background-position: 0px 0px; }
  100% { background-position: -2048px 0px; }
}
@-moz-keyframes scene_move {
  0% { background-position: 0px 0px; }
  100% { background-position: -2048px 0px; }
}
@-o-keyframes scene_move {
  0% { background-position: 0px 0px; }
  100% { background-position: -2048px 0px; }
}
@keyframes scene_move {
  0% { background-position: 0px 0px; }
  100% { background-position: -2048px 0px; }
}

.home-scene_move {
  -webkit-animation: scene_move 1s steps(60) infinite;
  -moz-animation: scene_move 1s steps(60) infinite;
  -o-animation: scene_move 1s steps(60) infinite;
  animation: scene_move 1s steps(60) infinite;
}

/* card */
.card {
  bottom: 4rem;
}

/* js-form__button */
.js-form__button {
  margin-top: 1rem;
}

/* js-player-name */
.js-player-name {
  padding: 0 0.5rem !important;
}

@media screen and (max-width: 995px) , screen and (max-height: 700px) {
  .card {
    top: 4rem;
    bottom: 0;
  }
}

@media screen and (device-width: 812px) and (device-height: 375px) {
  .card {
    top: 8rem;
  }
}
