.p-2 {
  padding: 0rem !important;
}

.btn-group-vertical {
  width: 50%;
}

.badge {
  top: 0 !important;
}

.cast__button:focus {
  background: #218838;
}

.cast__button_footer:focus {
  background: #e0a800;
}
