.p-2 {
  padding: 0rem !important;
}

.btn-group-vertical {
  width: 100%;
}

.badge {
  top: 0 !important;
}

.cast__button:focus {
  background: #218838;
}

.cast__button_footer:focus {
  background: #e0a800;
}

/* close-window */
.close-window {
  width: 24px;
  height: 24px;
  background: transparent url('../../images/close-window.png') 0 0;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 0.5rem;
  margin-top: 0.5rem;
  align-self: flex-end;
}

.close-window:hover {
  opacity: 0.6;
}

/* cast__info-navigation */
.cast__info-navigation {
  margin-top: 2rem;
  font-size: 0.8rem;
  width: 100%;
}

.cast__info-navigation .col {
  text-align: center;
}

.cast__info-navigation span {
  font-weight: 700;
  display: block;
  font-size: 1.3rem;
}

.main-title {
  font-size: 1rem;
}

@media screen and (max-width: 995px) , screen and (max-height: 700px) {
  .cast__info-navigation {
    display: none !important;
  }
}

@media screen and (device-width: 812px) and (device-height: 375px) {
  .btn-lg, .btn-group-lg > .btn {
    font-size: 1rem;
  }
}
