/* Animation Monster */
/* @-webkit-keyframes changeMonster__battle {
  from { background-position: 0px -512px; }
  to { background-position: -512px -512px; }
}

@-moz-keyframes changeMonster__battle {
  from { background-position: 0px -512px; }
  to { background-position: -512px -512px; }
}

@-o-keyframes changeMonster__battle {
  from { background-position: 0px -512px; }
  to { background-position: -512px -512px; }
}

@keyframes changeMonster__battle {
  from { background-position: 0px -512px; }
  to { background-position: -512px -512px; }
} */

/* Animation Player */
@-webkit-keyframes changePlayer__battle {
  from { background-position: 0px 0px; }
  to { background-position:  -512px 0px; }
}

@-moz-keyframes changePlayer__battle {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}

@-o-keyframes changePlayer__battle {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}

@keyframes changePlayer__battle {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}

.model-monster__battle {
  width: 256px;
  height: 256px;
  /* background: url('/src/assets/images/monster.png'); */
}

.model-monster__battle {
  position: relative;
  transform: scale(0.8);
  margin-bottom: -40px;
  /* -webkit-animation: changeMonster__battle 0.5s steps(2) infinite;
  -moz-animation: changeMonster__battle 0.5s steps(2) infinite;
  -o-animation: changeMonster__battle 0.5s steps(2) infinite;
  animation: changeMonster__battle 0.5s steps(2) infinite; */
}

.monster-body,
.monster-eyes,
.monster-hair,
.monster-mouth {
  background-image: url('/src/assets/images/ping_monster.png');
}

.monster-eyes,
.monster-hair,
.monster-mouth {
  position: absolute;
  top: 0;
}

.monster-body.random-1 {
  background-position: 0px 0px;
}

.monster-eyes.random-1 {
  background-position: 0px -512px;
  margin-top: 40px;
}

.monster-hair.random-1 {
  background-position: 0px -256px;
}

.monster-mouth.random-1 {
  background-position: 0px -768px;
  margin-top: 90px;
}

.model-player__battle {
  width: 256px;
  height: 256px;
  background-image: url('/src/assets/images/player.png');
  margin: -20px auto;
  -webkit-animation: changePlayer__battle 0.6s steps(2) infinite;
  -moz-animation: changePlayer__battle 0.6s steps(2) infinite;
  -o-animation: changePlayer__battle 0.6s steps(2) infinite;
  animation: changePlayer__battle 0.6s steps(2) infinite;
}

.battle-scene {
  display: flex;
  flex-flow: row nowrap;
  background-image: url('/src/assets/images/vectorcity.png');
  width: 1024px;
  height: 512px;
  align-items: flex-end;
  border-bottom: 0.5em solid #000;
}

.battle-scene .col-sm {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.battle-scene h2 {
  position: absolute;
  top: 0;
}

.battle-scene .player-health,
.battle-scene .monster-health {
  position: absolute;
  top: 50px;
}

