/* model-monster */
.model-monster {
  width: 256px;
  height: 256px;
  position: relative;
  transform: scale(0.8);
  margin-bottom: -40px;
}

/* model-monster_animation */
@-webkit-keyframes monster-wait {
  0% { transform: translate(0,0) scale(0.8); }
  29% { transform: translate(3px,0) scale(0.79); }
  50% { transform: translate(2px,0) scale(0.79); }
  79% { transform: translate(2px,0) scale(0.8); }
  100% { transform: translate(0,0) scale(0.8); }
}
@-moz-keyframes monster-wait {
  0% { transform: translate(0,0) scale(0.8); }
  29% { transform: translate(3px,0) scale(0.79); }
  50% { transform: translate(2px,0) scale(0.79); }
  79% { transform: translate(2px,0) scale(0.8); }
  100% { transform: translate(0,0) scale(0.8); }
}
@-o-keyframes monster-wait {
  0% { transform: translate(0,0) scale(0.8); }
  29% { transform: translate(3px,0) scale(0.79); }
  50% { transform: translate(2px,0) scale(0.79); }
  79% { transform: translate(2px,0) scale(0.8); }
  100% { transform: translate(0,0) scale(0.8); }
}
@keyframes monster-wait {
  0% { transform: translate(0,0) scale(0.8); }
  29% { transform: translate(3px,0) scale(0.79); }
  50% { transform: translate(2px,0) scale(0.79); }
  79% { transform: translate(2px,0) scale(0.8); }
  100% { transform: translate(0,0) scale(0.8); }
}

.model-monster_animation {
  -webkit-animation: monster-wait 0.7s infinite;
  -moz-animation: monster-wait 0.7s infinite;
  -o-animation: monster-wait 0.7s infinite;
  animation: monster-wait 0.7s infinite;
}

/* monster parts */
.monster-body,
.monster-eyes,
.monster-hair,
.monster-mouth {
  background-image: url('/src/assets/images/ping_monster.png');
}

.monster-eyes,
.monster-hair,
.monster-mouth {
  position: absolute;
  top: 0;
}

.monster-eyes_top {
  margin-top: 40px;
}

.monster-eyes_animation {
  animation: shake 5s infinite;
}

.monster-mouth_top {
  margin-top: 90px;
}

/* random-1 */
.monster-body.random-1 {
  background-position: 0px 0px;
}

.monster-hair.random-1 {
  background-position: 0px -256px;
}

.monster-eyes.random-1 {
  background-position: 0px -512px;
}

.monster-mouth.random-1 {
  background-position: 0px -768px;
}

/* random-2 */
.monster-body.random-2 {
  background-position: -256px 0px;
}

.monster-hair.random-2 {
  background-position: -256px -256px;
  margin: -40px 0 0 30px;
}

.monster-eyes.random-2 {
  background-position: -256px -512px;
}

.monster-mouth.random-2 {
  background-position: -256px -768px;
}

/* random-3 */
.monster-body.random-3 {
  background-position: -512px 0px;
}

.monster-hair.random-3 {
  background-position: -512px -256px;
  margin: -40px 0 0 30px;
}

.monster-eyes.random-3 {
  background-position: -512px -512px;
}

.monster-mouth.random-3 {
  background-position: -512px -768px;
}

/* model-player */
@-webkit-keyframes player-wait {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}
@-moz-keyframes player-wait {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}
@-o-keyframes player-wait {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}
@keyframes player-wait {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}

.model-player {
  width: 256px;
  height: 256px;
  background: url('/src/assets/images/player.png') 0px 0px;
  margin: -20px auto;
  -webkit-animation: player-wait 0.7s steps(2) infinite;
  -moz-animation: player-wait 0.7s steps(2) infinite;
  -o-animation: player-wait 0.7s steps(2) infinite;
  animation: player-wait 0.7s steps(2) infinite;
}

/* model-player_attack */
@-webkit-keyframes player-attack {
  from { background-position: 0px 0px; }
  to { background-position: 0px -768px; margin: -80px auto; }
}
@-moz-keyframes player-attack {
  from { background-position: 0px 0px; }
  to { background-position: 0px -768px; margin: -80px auto; }
}
@-o-keyframes player-attack {
  from { background-position: 0px 0px; }
  to { background-position: 0px -768px; margin: -80px auto; }
}
@keyframes player-attack {
  from { background-position: 0px 0px; }
  to { background-position: 0px -768px; margin: -80px auto; }
}

.model-player_attack {
  width: 256px;
  height: 256px;
  background: url('/src/assets/images/player.png') 0px 0px;
  margin: -20px auto;
  -webkit-animation: player-attack 0.7s 1s steps(3);
  -moz-animation: player-attack 0.7s 1s steps(3);
  -o-animation: player-attack 0.7s 1s steps(3);
  animation: player-attack 0.7s 1s steps(3);
}

/* model-monster_attacked */
@keyframes shake {
  2% { transform: translate(10px, -5px) rotate(-0.5deg) scale(0.8); }
  4% { transform: translate(4px, 1px) rotate(0.5deg) scale(0.8); }
  6% { transform: translate(10px, 9px) rotate(2.5deg) scale(0.8); }
  8% { transform: translate(7px, 7px) rotate(3.5deg) scale(0.8); }
  10% { transform: translate(10px, 0px) rotate(0.5deg) scale(0.8); }
  12% { transform: translate(-3px, -4px) rotate(0.5deg) scale(0.8); }
  14% { transform: translate(-4px, -2px) rotate(-0.5deg) scale(0.8); }
  16% { transform: translate(8px, 7px) rotate(3.5deg) scale(0.8); }
  18% { transform: translate(-8px, -3px) rotate(0.5deg) scale(0.8); }
  20% { transform: translate(2px, -7px) rotate(-2.5deg) scale(0.8); }
  22% { transform: translate(6px, 1px) rotate(-1.5deg) scale(0.8); }
  24% { transform: translate(1px, 1px) rotate(-2.5deg) scale(0.8); }
  26% { transform: translate(-1px, 10px) rotate(2.5deg) scale(0.8); }
  28% { transform: translate(10px, -1px) rotate(3.5deg) scale(0.8); }
  30% { transform: translate(-8px, -2px) rotate(2.5deg) scale(0.8); }
  32% { transform: translate(7px, 0px) rotate(3.5deg) scale(0.8); }
  34% { transform: translate(-1px, -3px) rotate(-1.5deg) scale(0.8); }
  36% { transform: translate(-5px, 8px) rotate(1.5deg) scale(0.8); }
  38% { transform: translate(8px, 5px) rotate(3.5deg) scale(0.8); }
  40% { transform: translate(10px, 2px) rotate(-1.5deg) scale(0.8); }
  42% { transform: translate(0px, -1px) rotate(-2.5deg) scale(0.8); }
  44% { transform: translate(-3px, -6px) rotate(0.5deg) scale(0.8); }
  46% { transform: translate(0px, -6px) rotate(-2.5deg) scale(0.8); }
  48% { transform: translate(6px, 6px) rotate(-2.5deg) scale(0.8); }
  50% { transform: translate(-3px, 9px) rotate(-0.5deg) scale(0.8); }
  52% { transform: translate(7px, -3px) rotate(1.5deg) scale(0.8); }
  54% { transform: translate(7px, 0px) rotate(1.5deg) scale(0.8); }
  56% { transform: translate(3px, -7px) rotate(0.5deg) scale(0.8); }
  58% { transform: translate(2px, -3px) rotate(-2.5deg) scale(0.8); }
  60% { transform: translate(5px, 2px) rotate(-2.5deg) scale(0.8); }
  62% { transform: translate(-2px, 10px) rotate(-0.5deg) scale(0.8); }
  64% { transform: translate(8px, -2px) rotate(3.5deg) scale(0.8); }
  66% { transform: translate(8px, -3px) rotate(1.5deg) scale(0.8); }
  68% { transform: translate(4px, 5px) rotate(2.5deg) scale(0.8); }
  70% { transform: translate(0px, -7px) rotate(2.5deg) scale(0.8); }
  72% { transform: translate(5px, -7px) rotate(1.5deg) scale(0.8); }
  74% { transform: translate(-4px, -2px) rotate(-2.5deg) scale(0.8); }
  76% { transform: translate(-8px, -2px) rotate(1.5deg) scale(0.8); }
  78% { transform: translate(2px, -5px) rotate(0.5deg) scale(0.8); }
  80% { transform: translate(-2px, -3px) rotate(0.5deg) scale(0.8); }
  82% { transform: translate(-4px, -1px) rotate(-0.5deg) scale(0.8); }
  84% { transform: translate(-4px, 8px) rotate(0.5deg) scale(0.8); }
  86% { transform: translate(3px, 5px) rotate(-0.5deg) scale(0.8); }
  88% { transform: translate(6px, -4px) rotate(3.5deg) scale(0.8); }
  90% { transform: translate(-8px, 3px) rotate(-0.5deg) scale(0.8); }
  92% { transform: translate(-5px, 3px) rotate(-2.5deg) scale(0.8); }
  94% { transform: translate(10px, 2px) rotate(1.5deg) scale(0.8); }
  96% { transform: translate(-8px, 6px) rotate(-2.5deg) scale(0.8); }
  98% { transform: translate(10px, 9px) rotate(1.5deg) scale(0.8); }
  0%,
  100% { transform: translate(0, 0) rotate(0); }
}

.model-monster_attacked {
  -webkit-animation: shake 1s 1.5s;
  -moz-animation: shake 1s 1.5s;
  -o-animation: shake 1s 1.5s;
  animation: shake 1s 1.5s;
}

/* model-player_attacked */
@-webkit-keyframes player-attacked {
  from { background-position: -256px -512px; }
  to { background-position: -768px -512px; }
}
@-moz-keyframes player-attacked {
  from { background-position: -256px -512px; }
  to { background-position: -768px -512px; }
}
@-o-keyframes player-attacked {
  from { background-position: -256px -512px; }
  to { background-position: -768px -512px; }
}
@keyframes player-attacked {
  from { background-position: -256px -512px; }
  to { background-position: -768px -512px; }
}

.model-player_attacked {
  width: 256px;
  height: 256px;
  background: url('/src/assets/images/player.png') -768px -512px;
  margin: -10px auto;
  -webkit-animation: player-attacked 0.3s 1s steps(2) infinite;
  -moz-animation: player-attacked 0.3s 1s steps(2) infinite;
  -o-animation: player-attacked 0.3s 1s steps(2) infinite;
  animation: player-attacked 0.3s 1s steps(2) infinite;
}

/* model-monster-bird */
@-webkit-keyframes monster-bird {
  0% { transform: translate(1000px, 0px); }
  100% { transform: translate(0px, 0px) }
}
@-moz-keyframes monster-bird {
  0% { transform: translate(1000px, 0px); }
  100% { transform: translate(0px, 0px) }
}
@-o-keyframes monster-bird {
  0% { transform: translate(1000px, 0px); }
  100% { transform: translate(0px, 0px) }
}
@keyframes monster-bird {
  0% { transform: translate(1000px, 0px); }
  100% { transform: translate(0px, 0px) }
}

.model-monster-bird {
  -webkit-animation: monster-bird 5s;
  -moz-animation: monster-bird 5s;
  -o-animation: monster-bird 5s;
  animation: monster-bird 5s;
}

/* model-monster-bird_attack */
@-webkit-keyframes monster-bird_attack {
  0% { transform: translate(0px, 0px); }
  100% { transform: translate(-1500px, 40px); }
}
@-moz-keyframes monster-bird_attack {
  0% { transform: translate(0px, 0px); }
  100% { transform: translate(-1500px, 40px); }
}
@-o-keyframes monster-bird_attack {
  0% { transform: translate(0px, 0px); }
  100% { transform: translate(-1500px, 40px); }
}
@keyframes monster-bird_attack {
  0% { transform: translate(0px, 0px); }
  100% { transform: translate(-1500px, 40px); }
}

.model-monster-bird_attack {
  -webkit-animation: monster-bird_attack 3.5s;
  -moz-animation: monster-bird_attack 3.5s;
  -o-animation: monster-bird_attack 3.5s;
  animation: monster-bird_attack 3.5s;
}

/* model-monster-bird__fly */
@-webkit-keyframes monster-bird-fly {
  0% { background-position: 0px 0px; transform: translate(0px, 0px); }
  100% { background-position: -480px 0px; transform: translate(0px, 30px) }
}
@-moz-keyframes monster-bird-fly {
  0% { background-position: 0px 0px; transform: translate(0px, 0px); }
  100% { background-position: -480px 0px; transform: translate(0px, 30px) }
}
@-o-keyframes monster-bird-fly {
  0% { background-position: 0px 0px; transform: translate(0px, 0px); }
  100% { background-position: -480px 0px; transform: translate(0px, 30px) }
}
@keyframes monster-bird-fly {
  0% { background-position: 0px 0px; transform: translate(0px, 0px); }
  100% { background-position: -480px 0px; transform: translate(0px, 30px) }
}

.model-monster-bird__fly {
  width: 120px;
  height: 120px;
  background: url('/src/assets/images/fly-monster.png') 0 0;
  -webkit-animation: monster-bird-fly 0.7s 1s steps(4) infinite;
  -moz-animation: monster-bird-fly 0.7s 1s steps(4) infinite;
  -o-animation: monster-bird-fly 0.7s 1s steps(4) infinite;
  animation: monster-bird-fly 0.7s 1s steps(4) infinite;
}

/* battle-scene */
.battle-scene {
  display: flex;
  flex-flow: row nowrap;
  background-image: url('/src/assets/images/vectorcity.png');
  width: 1024px;
  height: 512px;
  align-items: flex-end;
  border-bottom: 0.5em solid #000;
}

.battle-scene .col-sm {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.battle-scene h2 {
  position: absolute;
  top: 0;
  padding: 0 10px;
  background: #222;
  color: #fff;
  border-radius: 5px;
}

/* monster-name, player-name, monster-health, player-health */
.monster-name {
  right: 0;
}

.player-name {
  left: 0;
}

.monster-health {
  right: 0;
  position: absolute;
  top: 50px;
}

.player-health {
  left: 0;
  position: absolute;
  top: 50px;
}

/* monster, player */
@-webkit-keyframes drops-in {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes drops-in {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes drops-in {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes drops-in {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}

#monster {
  position: absolute;
  right: 0;
  -webkit-animation: drops-in 1.5s;
  -moz-animation: drops-in 1.5s;
  -o-animation: drops-in 1.5s;
  animation: drops-in 1.5s;
}

#player {
  position: absolute;
  left: 0;
}

/* monster-pregenerate */
@-webkit-keyframes bombed-sprite {
  from { background-position: 0px 0px; }
  to { background-position:  -1792px 0px; }
}
@-moz-keyframes bombed-sprite {
  from { background-position: 0px 0px; }
  to { background-position:  -1792px 0px; }
}
@-o-keyframes bombed-sprite {
  from { background-position: 0px 0px; }
  to { background-position:  -1792px 0px; }
}
@keyframes bombed-sprite {
  from { background-position: 0px 0px; }
  to { background-position:  -1792px 0px; }
}

.monster-pregenerate {
  width: 256px;
  height: 256px;
  position: absolute;
  right: 0;
  margin-top: 50px;
  background-image: url('/src/assets/images/bombed_sprites.png');
  -webkit-animation: bombed-sprite 0.7s steps(7);
  -moz-animation: bombed-sprite 0.7s steps(7);
  -o-animation: bombed-sprite 0.7s steps(7);
  animation: bombed-sprite 0.7s steps(7);
}

/* progress-bar */
.progress-bar {
  height: 1.5rem;
  font-size: 1rem;
}
