/* Animation changePlayer */
@-webkit-keyframes changePlayer__select-name {
  from { background-position: 0px -256px; }
  to { background-position:  -1024px -256px; }
}

@-moz-keyframes changePlayer__select-name {
  from { background-position: 0px -256px; }
  to { background-position: -1024px -256px; }
}

@-o-keyframes changePlayer__select-name {
  from { background-position: 0px -256px; }
  to { background-position: -1024px -256px; }
}

@keyframes changePlayer__select-name {
  from { background-position: 0px -256px; }
  to { background-position: -1024px -256px; }
}


/* Animation vectorCity */
@-webkit-keyframes moves {
  0% { background-position: 0px 0px; }
  100% { background-position: -2048px 0px; }
}
@-moz-keyframes moves {
  0% { background-position: 0px 0px; }
  100% { background-position: -2048px 0px; }
}
@-o-keyframes moves {
  0% { background-position: 0px 0px; }
  100% { background-position: -2048px 0px; }
}
@keyframes moves {
  0% { background-position: 0px 0px; }
  100% { background-position: -2048px 0px; }
}

.model-player__select-name {
  width: 256px;
  height: 256px;
  background-image: url('/src/assets/images/player.png');
  margin: -20px auto;
  -webkit-animation: changePlayer__select-name 0.7s steps(4) infinite;
  -moz-animation: changePlayer__select-name 0.7s steps(4) infinite;
  -o-animation: changePlayer__select-name 0.7s steps(4) infinite;
  animation: changePlayer__select-name 0.7s steps(4) infinite;
}

.select-name {
  display: flex;
  flex-flow: row nowrap;
  background: url('/src/assets/images/vectorcity.png');
  width: 1024px;
  height: 512px;
  align-items: flex-end;
  border-bottom: 0.5em solid #000;
  animation: moves 1s steps(60) infinite;
}

.card {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 40%;
}

.js-form .button {
  margin-top: 1rem;
}
