.logic-img {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.logic-img__task-img {
  width: 80px;
  height: 80px;
  background-image: url('./logic-img-task.png');
  cursor: pointer;
  text-align: center;
}

.logic-img__task-img:hover {
  opacity: 0.6;
}

.task-img__text {
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0 1rem;
  opacity: 0.8;
}
