.students__data {
  margin: 10px 5px;
  color: #8d8173;
  font-weight: 300;
  background: #e1e3e0;
  border-radius: 0 18px;
  width: 24%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .students__data {
    width: 100%;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  .students__data {
    width: 48%;
  }
}

.students__title {
  margin: 10px 5px;
  font-size: 16px;
  font-weight: 500;
}

.students__github {
  position: absolute;
  right: 5px;
  top: 10px;
}

.students__github-link {
  text-decoration: none;
  margin: 0 5px;
  color: #000;
}

.students__github-link:hover {
  opacity: 0.8;
}

.private {
  color: #ca002a;
}