@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed');

/* button reset */
button,
button:active,
button:focus {
    outline: none;
}

/* page */
.page {
    font: 16px 'Fira Sans Extra Condensed', Arial, Helvetica, sans-serif;
    height: 100vh;
    padding: 2rem;
    background: #333;
}

/* wrapper */
.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
    min-height: 700px;
    overflow: hidden;
    background: #fff;
    position: relative;
}

/* main-template */
.main-template {
    padding: 5rem 0 0 0;
    position: relative;
    display: flex;
    justify-content: center;
}

/* footer */
.page__footer {
    margin-bottom: auto;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

/* preload */
.preload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1020;
    top: 0;
    left: 0;
    background-color: #333;
}

/* preload__spiner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.preload__spiner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}


@media screen and (max-width: 995px) , screen and (max-height: 700px) {
    .page {
        padding: 0;
        background: #fff;
    }
    .main-template {
        padding-top: 1rem;
    }
    .wrapper {
        min-height: 402px;
    }
    .page__footer,
    .tooltip-sound {
        display: none;
    }
}
