.taskSpeakOut__audio-button {
  width: 24px;
  height: 24px;
  background: url('../../../images/icon-sound.png') 0 -24px;
  cursor: pointer;
}

.audio-button_pause {
  background: url('../../../images/icon-sound.png') -24px -24px;
}

.taskSpeakOut__audio-button:hover {
  opacity: 0.6;
}
