.js-show-player-name {
  color: #fff;
}

.nav-sound {
  width: 24px;
  height: 24px;
  margin: 5px 15px;
  background: url('../../images/icon-sound.png') no-repeat -24px 0;
  z-index: 1041;
}

.sound-off {
  background: url('../../images/icon-sound.png') no-repeat 0 0;
}

@media (min-width: 0) {
.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  }
}

/* tooltip-sound */
.tooltip-sound {
  width: 140px;
  height: 100px;
  background: url('../../images/tooltip-sound.png') 0 0;
  position: absolute;
  z-index: 1;
  top: 2rem;
  left: 0;
  transform: scale(0.8);
}
