.root__title {
  font-size: 28px;
  font-weight: 500;
  margin: 12px;
}

section {
  text-align: left;
  padding: 10px;
  }

.mentor {
  padding: 12px 10px;
  color: #f56433;
}

.mentor__title {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}

.mentor__data {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 12px;
  border-bottom: 2px solid #f56433;
}

.mentor__data-tooltip {
  font-size: 14px;
  margin-left: 22px;
}

.students {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}

.hidden {
  display: none;
}

.btn__logout {
  width: 70px;
  height: 33px;
  font-size: 0.7rem;
  background-color: rgb(172, 43, 43);
}

.btn__logout:hover {
  background-color: rgb(197, 63, 63);
}