section {
  text-align: left;
  padding: 10px;
  }

.mentor {
  padding: 12px 10px;
  color: #f56433;
}

.students {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}