.mentor__title {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}

.mentor__data {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 12px;
  border-bottom: 2px solid #f56433;
}

.mentor__data-tooltip {
  font-size: 14px;
  margin-left: 22px;
}