.js-show-player-name {
  color: #fff;
}

.nav-sound {
  width: 24px;
  height: 24px;
  margin: 5px 15px;
  background: url('../../images/icon-sound.png') no-repeat -24px 0;
}

.sound-off {
  background: url('../../images/icon-sound.png') no-repeat 0 0;
}

.navbar {
  padding: 0 1rem !important;
  width: 100%;
}

.nav-item {
  padding: 0.5rem 0 !important;
  background: #28a745;
  cursor: pointer;
}

.nav-item:hover {
  background: #222;
}

/* tooltip-sound */
.tooltip-sound {
  width: 185px;
  height: 100px;
  background: url('../../images/tooltip-sound.png') 0 0;
  position: absolute;
  z-index: 1;
  top: 2rem;
  left: 0;
  transform: scale(0.6);
  opacity: 1;
  transition: opacity .3s;
}

.tooltip-sound_on {
  opacity: 0;
}

/* triangle-topright */
.triangle-topright {
  position: fixed;
  right: 0;
  top: 0;
	width: 0;
	height: 0;
	border-top: 80px solid #28a745; 
  border-left: 80px solid transparent;
}

/* triangle-topright__score */
.triangle-topright__score {
  position: fixed;
  right: 20px;
  top: 20px;
  color: #222;
  font-weight: 700;
}


@media (min-width: 0) {
  .navbar-expand-lg .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
  }
