.task {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.task__title {
  padding: 5px;
}

.task__specification {
  color: #8d8173;
  text-decoration: none;
}

.task__specification:hover {
  opacity: 0.7;
}

.task__process {
  text-align: center;
  height: 20px;
  width: 40%;
  position: relative;
}

.task__process::before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 5px solid #e1e3e0;
	border-bottom: 10px solid transparent
}

.task__process_checked {
  color: #fff;
  background: #50c878;
}

.task__process_todo {
  color: #fff;
  background: #999;
}

.task__process_inprocess {
  color: #8d8173;
  background: #ffe5b4;
}

.task__process_tocheck {
  color: #fff;
  background: #f56433;
}

.task__process_nochecked {
  color: #fff;
  background: #960018;
}

.task__process_tooltip {
  display: none;
  padding: 4px 6px;
  width: 130px;
}

.task__process:hover .task__process_tooltip {
  display: inline;
  font-size: 12px;
  z-index: 1;
  position : absolute;
  right: 20px;
  bottom: 20px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #8d8173;
}