/* model-monster */
.model-monster {
  width: 256px;
  height: 256px;
  position: relative;
  transform: scale(0.8);
  margin-bottom: -40px;
}

/* model-monster_animation */
@-webkit-keyframes monster-wait {
  0% { transform: translate(0,0) scale(0.8); }
  29% { transform: translate(3px,0) scale(0.79); }
  50% { transform: translate(2px,0) scale(0.79); }
  79% { transform: translate(2px,0) scale(0.8); }
  100% { transform: translate(0,0) scale(0.8); }
}
@-moz-keyframes monster-wait {
  0% { transform: translate(0,0) scale(0.8); }
  29% { transform: translate(3px,0) scale(0.79); }
  50% { transform: translate(2px,0) scale(0.79); }
  79% { transform: translate(2px,0) scale(0.8); }
  100% { transform: translate(0,0) scale(0.8); }
}
@-o-keyframes monster-wait {
  0% { transform: translate(0,0) scale(0.8); }
  29% { transform: translate(3px,0) scale(0.79); }
  50% { transform: translate(2px,0) scale(0.79); }
  79% { transform: translate(2px,0) scale(0.8); }
  100% { transform: translate(0,0) scale(0.8); }
}
@keyframes monster-wait {
  0% { transform: translate(0,0) scale(0.8); }
  29% { transform: translate(3px,0) scale(0.79); }
  50% { transform: translate(2px,0) scale(0.79); }
  79% { transform: translate(2px,0) scale(0.8); }
  100% { transform: translate(0,0) scale(0.8); }
}

.model-monster_animation {
  -webkit-animation: monster-wait 0.7s infinite;
  -moz-animation: monster-wait 0.7s infinite;
  -o-animation: monster-wait 0.7s infinite;
  animation: monster-wait 0.7s infinite;
}

/* monster parts */
.monster-body,
.monster-eyes,
.monster-hair,
.monster-mouth {
  background-image: url('../../images/ping_monster.png');
}

.monster-eyes,
.monster-hair,
.monster-mouth {
  position: absolute;
  top: 0;
}

.monster-eyes_top {
  margin-top: 40px;
}

.monster-eyes_animation {
  animation: shake 5s infinite;
}

.monster-mouth_top {
  margin-top: 90px;
}

/* random-1 */
.monster-body.random-1 {
  background-position: 0px 0px;
}

.monster-hair.random-1 {
  background-position: 0px -256px;
}

.monster-eyes.random-1 {
  background-position: 0px -512px;
}

.monster-mouth.random-1 {
  background-position: 0px -768px;
}

/* random-2 */
.monster-body.random-2 {
  background-position: -256px 0px;
}

.monster-hair.random-2 {
  background-position: -256px -256px;
  margin: -40px 0 0 30px;
}

.monster-eyes.random-2 {
  background-position: -256px -512px;
}

.monster-mouth.random-2 {
  background-position: -256px -768px;
}

/* random-3 */
.monster-body.random-3 {
  background-position: -512px 0px;
}

.monster-hair.random-3 {
  background-position: -512px -256px;
  margin: -40px 0 0 30px;
}

.monster-eyes.random-3 {
  background-position: -512px -512px;
}

.monster-mouth.random-3 {
  background-position: -512px -768px;
}

/* model-player_wait */
@-webkit-keyframes player-wait {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}
@-moz-keyframes player-wait {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}
@-o-keyframes player-wait {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}
@keyframes player-wait {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}

.model-player_wait {
  -webkit-animation: player-wait 0.7s steps(2) infinite;
  -moz-animation: player-wait 0.7s steps(2) infinite;
  -o-animation: player-wait 0.7s steps(2) infinite;
  animation: player-wait 0.7s steps(2) infinite;
}

/* model-monster-bird */
@-webkit-keyframes monster-bird {
  0% { transform: translate(1000px, 0px); }
  100% { transform: translate(0px, 0px) }
}
@-moz-keyframes monster-bird {
  0% { transform: translate(1000px, 0px); }
  100% { transform: translate(0px, 0px) }
}
@-o-keyframes monster-bird {
  0% { transform: translate(1000px, 0px); }
  100% { transform: translate(0px, 0px) }
}
@keyframes monster-bird {
  0% { transform: translate(1000px, 0px); }
  100% { transform: translate(0px, 0px) }
}

.model-monster-bird {
  -webkit-animation: monster-bird 5s;
  -moz-animation: monster-bird 5s;
  -o-animation: monster-bird 5s;
  animation: monster-bird 5s;
}

/* model-monster-bird__fly */
@-webkit-keyframes monster-bird-fly {
  0% { background-position: 0px 0px; transform: translate(0px, 0px); }
  100% { background-position: -480px 0px; transform: translate(0px, 30px) }
}
@-moz-keyframes monster-bird-fly {
  0% { background-position: 0px 0px; transform: translate(0px, 0px); }
  100% { background-position: -480px 0px; transform: translate(0px, 30px) }
}
@-o-keyframes monster-bird-fly {
  0% { background-position: 0px 0px; transform: translate(0px, 0px); }
  100% { background-position: -480px 0px; transform: translate(0px, 30px) }
}
@keyframes monster-bird-fly {
  0% { background-position: 0px 0px; transform: translate(0px, 0px); }
  100% { background-position: -480px 0px; transform: translate(0px, 30px) }
}

.model-monster-bird__fly {
  width: 120px;
  height: 120px;
  background: url('../../images/fly-monster.png') 0 0;
  -webkit-animation: monster-bird-fly 0.7s 1s steps(4) infinite;
  -moz-animation: monster-bird-fly 0.7s 1s steps(4) infinite;
  -o-animation: monster-bird-fly 0.7s 1s steps(4) infinite;
  animation: monster-bird-fly 0.7s 1s steps(4) infinite;
}


#battle {
  position: relative;
}

/* battle-scene */
.battle-scene {
  display: flex;
  flex-flow: row nowrap;
  background-image: url('../../images/vectorcity.png');
  height: 512px;
  min-width: 930px;
  align-items: flex-end;
  border-bottom: 0.5em solid #000;
}

.battle-scene .col-sm {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 1rem;
}

.battle-scene h2 {
  position: absolute;
  top: 0;
  padding: 0.5rem;
  background: #222;
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
  height: 3rem;
  opacity: 0.8;
}

/* monster-name, player-name, monster-health, player-health */
.align-right {
  text-align: right;
}

.monster-health {
  right: 0;
  position: absolute;
  top: 2rem;
}

.player-health {
  left: 0;
  position: absolute;
  top: 2rem;
}

/* monster, player */
@-webkit-keyframes drops-in {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes drops-in {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes drops-in {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes drops-in {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}

#monster {
  position: absolute;
  right: 0;
  -webkit-animation: drops-in 1.5s;
  -moz-animation: drops-in 1.5s;
  -o-animation: drops-in 1.5s;
  animation: drops-in 1.5s;
}

#player {
  position: absolute;
  left: 0;
}

/* model-monster-pregenerate */
.model-monster-pregenerate {
  width: 256px;
  height: 256px;
  position: absolute;
  right: 0;
  margin-top: 50px;
}

/* model-monster-pregenerate_bombed */
@-webkit-keyframes monster-pregenerate_bombed {
  from { background-position: 0px 0px; }
  to { background-position:  -1792px 0px; }
}
@-moz-keyframes monster-pregenerate_bombed {
  from { background-position: 0px 0px; }
  to { background-position:  -1792px 0px; }
}
@-o-keyframes monster-pregenerate_bombed {
  from { background-position: 0px 0px; }
  to { background-position:  -1792px 0px; }
}
@keyframes monster-pregenerate_bombed {
  from { background-position: 0px 0px; }
  to { background-position:  -1792px 0px; }
}

.model-monster-pregenerate_bombed {
  background-image: url('../../images/bombed_sprites.png');
  -webkit-animation: monster-pregenerate_bombed 0.7s steps(7);
  -moz-animation: monster-pregenerate_bombed 0.7s steps(7);
  -o-animation: monster-pregenerate_bombed 0.7s steps(7);
  animation: monster-pregenerate_bombed 0.7s steps(7);
}

/* progress-bar */
.progress-bar {
  height: 1rem;
  font-size: 0.8rem;
}

/* init-cast-button */
@keyframes show-init-cast-button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.init-cast-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 40%;
  width: 100%;
}

.init-cast-button__button {
  cursor: pointer;
  animation: show-init-cast-button 1s;
}


@media screen and (max-width: 995px) , screen and (max-height: 700px) {
  .battle-scene {
    height: 402px;
  }
}

@media screen and (device-width: 812px) and (device-height: 375px) {
  .battle-scene {
    height: 308px;
  }
}
