/* model-monster-first */
.model-monster-first {
  width: 256px;
  height: 256px;
  background: url('../../images/monster.png') 0 -256px;
  margin: 0 0 -90px 0;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}

/* model-monster-first_dance */
@-webkit-keyframes monster-first_dance {
  from { background-position: 0px -256px; }
  to { background-position: -512px -256px; }
}
@-moz-keyframes monster-first_dance {
  from { background-position: 0px -256px; }
  to { background-position: -512px -256px; }
}
@-o-keyframes monster-first_dance {
  from { background-position: 0px -256px; }
  to { background-position: -512px -256px; }
}
@keyframes monster-first_dance {
  from { background-position: 0px -256px; }
  to { background-position: -512px -256px; }
}

.model-monster-first_dance {
  -webkit-animation: monster-first_dance 0.5s steps(2) infinite;
  -moz-animation: monster-first_dance 0.5s steps(2) infinite;
  -o-animation: monster-first_dance 0.5s steps(2) infinite;
  animation: monster-first_dance 0.5s steps(2) infinite;
}

/* model-monster-second */
.model-monster-second {
  width: 256px;
  height: 256px;
  margin: 0 0 120px 0;
  background: url('../../images/monster.png') 0 0;
  transform: scale(0.8) rotate(-2deg);
}

/* model-monster-second_dance */
@-webkit-keyframes monster-second_dance {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}
@-moz-keyframes monster-second_dance {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}
@-o-keyframes monster-second_dance {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}
@keyframes monster-second_dance {
  from { background-position: 0px 0px; }
  to { background-position: -512px 0px; }
}

.model-monster-second_dance {
  -webkit-animation: monster-second_dance 0.5s steps(2) infinite;
  -moz-animation: monster-second_dance 0.5s steps(2) infinite;
  -o-animation: monster-second_dance 0.5s steps(2) infinite;
  animation: monster-second_dance 0.5s steps(2) infinite;
}

/* model-player */
.model-player {
  width: 256px;
  height: 256px;
  background: url('../../images/player.png') 0 0;
  margin: -20px auto;
}

/* model-player_jump */
@-webkit-keyframes player_jump {
  from { background-position: 0px 0px; margin: 50px auto; }
  to { background-position: 1024px 0px; margin: -50px auto; }
}
@-moz-keyframes player_jump {
  from { background-position: 0px 0px; margin: 50px auto; }
  to { background-position: 1024px 0px; margin: -50px auto; }
}
@-o-keyframes player_jump {
  from { background-position: 0px 0px; margin: 50px auto; }
  to { background-position: 1024px 0px; margin: -50px auto; }
}
@keyframes player_jump {
  from { background-position: 0px 0px; margin: 50px auto; }
  to { background-position: 1024px 0px; margin: -50px auto; }
}

.model-player_jump {
  -webkit-animation: player_jump 0.6s steps(4) infinite;
  -moz-animation: player_jump 0.6s steps(4) infinite;
  -o-animation: player_jump 0.6s steps(4) infinite;
  animation: player_jump 0.6s steps(4) infinite;
}

/* home-scene */
.home-scene {
  display: flex;
  flex-flow: row nowrap;
  background-image: url('../../images/vectorcity.png');
  min-width: 930px;
  height: 512px;
  align-items: flex-end;
  border-bottom: 0.5em solid #000;
}

/* home-scene-button */
.home-scene-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 50%;
}

/* home-scene-button__button */
.home-scene-button__button {
  cursor: pointer;
}

/* home-scene-button__button_scale */
@keyframes button_scale {
  0% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}

.home-scene-button__button_scale {
  -moz-animation: button_scale 1s ease-in-out infinite alternate;
  -o-animation: button_scale 1s ease-in-out infinite alternate;
  -webkit-animation: button_scale 1s ease-in-out infinite alternate;
  animation: button_scale 1s ease-in-out infinite alternate;
}

/* page-header__logo */
.page-header__logo {
  width: 320px;
  height: 119px;
  background: url('../../images/logo.png') 0 0;
  transform: scale(0.6);
  margin: 0 -5rem;
}

/* logo_top-left */
.logo_top-left {
  position: absolute;
}

/* source-preload */
.source-preload {
  display: none;
}


@media screen and (max-width: 995px) , screen and (max-height: 700px) {
  .home-scene {
    height: 402px;
  }
  .model-monster-second {
    background: none;
  }
}

@media screen and (device-width: 812px) and (device-height: 375px) {
  .home-scene {
    height: 308px;
  }
}
