.btn__social--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn__social {
  width: 150px;
}

.btn--github {
  background-color: #1b1c1d;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn--github:hover {
  background-color: #232425;
}